body{
  background-color: rgb(209, 162, 209);
  color: rgb(94, 26, 94);
  font-family: serif;
  text-align: center;
}

span{
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}

button{
  background-color: rgb(94, 26, 94);
  color: rgb(209, 162, 209);
  border: 3px solid rgb(94, 26, 94);
  border-radius: 3%;
  margin-top: 3%;
  font-family: serif;
  font-weight: bold;
  height: 30px;
}

button:hover{
  background-color: rgb(200, 27, 206);
  color: rgb(209, 162, 209);
  border: 3px solid rgb(200, 27, 206);
  border-radius: 3%;
  margin-top: 3%;
  font-family: serif;
  font-weight: bold;
  height: 30px;
}

input{
  background-color: rgb(209, 162, 209);
  color: rgb(94, 26, 94);
  border: 1px solid rgb(94, 26, 94);
  border-radius: 4%;
  height: 20px;
  margin: 6px;
  width: 205px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 15px;
}

input:hover{
  background-color: rgb(203, 125, 206);
  color: rgb(94, 26, 94);
  border: 1px solid rgb(94, 26, 94);
  border-radius: 4%;
  height: 20px;
  margin: 6px;
  width: 205px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 15px;
}

hr{
  border: 1px solid rgb(94, 26, 94);
  width: 90px;
}

/* //////////////////////// */
/*     Links */
/* //////////////////////// */

.noLine{
  text-decoration: none;
  color: rgb(200, 27, 206);
  font-weight: bold;
  font-size: 18px;
}

.noLine:hover{
  text-decoration: none;
  color: rgb(94, 26, 94);
  font-weight: bold;
  font-size: 18px;
}

/* //////////////////////// */
/*     Register/Login */
/* //////////////////////// */


.regLogContainer{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}

.formP{
  grid-column: 5/9;
}

