body{
  background-color: rgb(233, 179, 233);
  color: rgb(128, 43, 123);
  font-family: serif;
  text-align: center;
}

span{
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}

button{
  background-color: rgb(128, 43, 123);
  color: rgb(209, 162, 209);
  border: 3px solid rgb(128, 43, 123);
  border-radius: 3%;
  margin-top: 3%;
  font-family: serif;
  font-weight: bold;
  height: 30px;
}

button:hover{
  background-color:rgb(92, 27, 87);
  color: rgb(209, 162, 209);
  border: 3px solid rgb(92, 27, 87);
  border-radius: 3%;
  margin-top: 3%;
  font-family: serif;
  font-weight: bold;
  height: 30px;
}

input{
  background-color: rgb(233, 179, 233);
  color: rgb(94, 26, 94);
  border: 1px solid rgb(94, 26, 94);
  border-radius: 4%;
  height: 20px;
  margin: 6px;
  width: 205px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 15px;
}

input:hover{
  background-color: rgb(231, 169, 231);
  color: rgb(94, 26, 94);
  border: 1px solid rgb(94, 26, 94);
  border-radius: 4%;
  height: 20px;
  margin: 6px;
  width: 205px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: 15px;
}

hr{
  border: 1px solid rgb(94, 26, 94);
  width: 90px;
}

/* ///////////////////////// */
/*   Opening Home Page  */
/* ///////////////////////// */

.homeContainer{
  display: grid;
  grid-template-columns: repeat(12,1fr);

}

.homeTitle{
  grid-column: 6/8;
  grid-row: 1;
}

.registerLink{
  grid-column: 10;
  grid-row: 1;
}

.loginLink{
  grid-column: 11;
  grid-row: 1;
}

.logoutButton{
  grid-column: 11;
  grid-row: 1;
}

.logoutStyle{
  border: 0px;
  background-color: rgb(233, 179, 233);
  color: rgb(128, 43, 123);
  font-size: 18px;
}

.logoutStyle:hover{
  border: 0px;
  background-color: rgb(233, 179, 233);
  color: rgb(128, 43, 123);
  font-size: 20px;
}

.registerComponent{
  grid-column: 5/9;
  grid-row: 2;
}

.loginComponent{
  grid-column: 5/9;
  grid-row: 2;
}

/* //////////////////////// */
/*    Opening Home Page Links */
/* //////////////////////// */

.noLine{
  text-decoration: none;
  color: rgb(128, 43, 123);
  font-weight: bold;
  font-size: 18px;
}

.noLine:hover{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.noLineHome{
 color: rgb(128, 43, 123);
 text-decoration: none;
 font-size: 34px;
 font-weight: bold;
 padding: 2%;
}

.noLineHome:hover{
  color: rgb(74, 74, 136);
}

/* //////////////////////// */
/*    Admin Home Page */
/* //////////////////////// */

.adminHomeContainer{
 display: grid;
 grid-template-columns: auto auto auto;
 grid-template-rows: auto auto auto auto;
}

.adminTitle{
  grid-column: 2;
  grid-row: 1;
}

.dreamersLink{
  grid-column: 2;
  grid-row: 2;
}

/* //////////////////////// */
/* Admin View All Dreamers  */
/* //////////////////////// */

.dreamersContainer{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}

.dreamersDisplay{
  background-color: rgb(74, 74, 136);
  color: rgb(233, 179, 233);
  border: 5px solid rgb(74, 74, 136);
  border-radius: 5%;
  margin-left: 10%;
  margin-right:15%;
  width: 75%;
  box-shadow: 5px 10px 8px #8a6292;
}

.dreamersDisplay:hover{
  background-color: rgb(128, 43, 123);
  color: rgb(233, 179, 233);
  border: 5px solid rgb(128, 43, 123);
  border-radius: 5%;
  margin-left: 10%;
  margin-right:15%;
  width: 75%;
  box-shadow: 5px 10px 8px #8a6292;
}

.dreamersPageTitle{
  font-size: 20px;
  color: rgb(74, 74, 136);
}

.dreamersLink{
  text-decoration: none;
  color: rgb(74, 74, 136);
  font-size: 16px;
  font-weight: bold;
}

.dreamersLink:hover{
  text-decoration: none;
  color: rgb(74, 74, 136);
  font-size: 18px;
  font-weight: bold;
}

.listedData{
  color: rgb(233, 179, 233);
}

.linkLink{
  text-decoration: none;
}

/* //////////////////////// */
/* Admin View One Dreamer  */
/* //////////////////////// */

.dreamerDisplay{
  background-color: rgb(74, 74, 136);
  color: rgb(233, 179, 233);
  border: 5px solid rgb(74, 74, 136);
  border-radius: 5%;
  margin-left: 42%;
  /* margin-right:15%; */
  width: 15%;
  box-shadow: 5px 10px 8px #8a6292;
}